body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111;
    font-family:Arial;
}

.container{
    text-align:center;
}

#bulb{
    width:150px;
    transition:0.3s;
}

.active{
    filter: brightness(1);
    box-shadow: 0 0 80px 10px yellow;
}

#switch{
    width:100px;
    cursor:pointer;
    transition:0.2s;
}




#status{
    color:white;
    margin-top:15px;
    font-size:18px;
    font-weight:bold;
}